{% extends 'home/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <h1 style="text-align:center">
            {% if people.photo %}
            <img src="{{ people.photo.url }}" width= 100,
                 alt="{{ people.photo}}">
            {% endif %}
            {{ people.username }}
            </h1>
        </div>
        <div class="col-9">
            <div>
                <strong>{{ people.username }}</strong>

                {{ people.followers.all }}
                {% if user != people %}
                    {% if user in people.followers.all %}
                    <button type="button" class="btn btn-primary lee">
                        <a href="{% url 'follow' people.username %}">UnFollow</a>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary lee">
                        <a href="{% url 'follow' people.username %}">Follow</a>
                    </button>
                    {% endif %}
                {% endif %}
            </div>
            <div>
               <strong>Followers: </strong> {{ people.followers.count }}
                <strong> Followings: </strong> {{ people.followings.count }}
            </div>
        </div>
    </div>
</div>
<style>
        .lee a:link{
             color : white;
             text-decoration: none;
         }
        .lee a:visited{
            color : white;
            text-decoration: none;
        }
        .lee a:hover{
            color: white;
            text-decoration: none;
        }
</style>
{% endblock %}