{% extends 'home/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <h1 style="text-align:center">
            {% if people.photo %}
                <img src="{{ people.photo.url }}" width= "183" height="183"
                     alt="{{ people.photo }}"  style="border-radius: 100px;">
                {% else %}
                <img src="/static/image/icon/035-user.png"
                     width="183" height="183" style="border-radius: 100px;">
            {% endif %}
            </h1>
        </div>
        <div class="col-9">
            <div>
                <h2 class="left">{{ people.username }}</h2>
<!--                {{ people.followers.all }}-->
                {% if user != people %}
                    {% if user in people.followers.all %}
                    <button type="button" class="btn btn-primary lee left">
                        <a href="{% url 'follow' people.username %}">UnFollow</a>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary lee left">
                        <a href="{% url 'follow' people.username %}">Follow</a>
                    </button>
                    {% endif %}
                {% else %}
                 <button type="button" class="btn btn-primary lee left">
                        <a href="{% url 'profile_update' %}">update</a>
                    </button>
                {% endif %}
            </div>
            <div>
               <h6>
                   <table width="400" height="100">
                       <tr>
                           <td> <strong> 게시물 </strong>{{ people.photo_cnt }}</td>
                           <td> <strong> 팔로워 </strong> {{ people.followers.count }}</td>
                           <td> <strong> 팔로잉 </strong> {{ people.followings.count }}</td>
                       </tr>
                   </table>
                   <div width="300">
                       {{ people.bio }}
                   </div>
                </h6>
            </div>
            <div class="col-5">
                {% for object in object_list %}
                    <div class="card">
                        <a href="{% url 'photo:detail' object.id %}" class="card-link">
                            <img src="{{ object.img.url|slice:'1:' }}" class="card-img-top" alt="...">
                        </a>
                    </div>
                    <br><br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
        .lee a:link{
             color : white;
             text-decoration: none;
         }
        .lee a:visited{
            color : white;
            text-decoration: none;
        }
        .lee a:hover{
            color: white;
            text-decoration: none;
        }
        .left{
            float: left,
            padding : 10px

        }
</style>
{% endblock %}