{% extends 'home/base.html' %}

{% block content %}
    <h1>hi instagram</h1>
{% endblock %}
<p class="lee">
    아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/freepik" title="Freepik">Freepik</a> from
<a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>
</p>
<style>
        .lee a:link{
             color : white;
             text-decoration: none;
         }
        .lee a:visited{
            color : white;
            text-decoration: none;
        }
        .lee a:hover{
            color: white;
            text-decoration: none;
        }
</style>