<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewpoint" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light"> <!-- navbar-dark bg-dark -->
    <a class="navbar-brand mx-5 mb-0 font-weight-bold font-italic" href="{% url 'index' %}">
<!--        <img src="/static/image/instagram.png" width="100" height="50">-->
        Mystagram
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-1 btn ">
                <a href="{% url 'photo:create' %}" class="nav-link " >Upload</a>
            </li>
            <li class="nav-item dropdown mx-1 btn ">
                <a class="nav-link dropdown-toggle " href="#" data-toggle="dropdown">
                    Util
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'photo:search' %}">Search</a>
                </div>
            </li>

        </ul>
<!--        <li class="nav-item dropdown mx-1 btn ">-->
<!--            <a class="nav-link dropdown-toggle " href="#" data-toggle="dropdown">-->
<!--                Add-->
<!--            </a>-->
<!--            <div class="dropdown-menu">-->
<!--                <div class="dropdown-divider"></div>-->
<!--            </div>-->
<!--        </li>-->
        <form class="form-inline my-2" action="" method="post" > {% csrf_token %}
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Global Search" name=search_word"">-->
<!--            <button type="submit">Search</button>-->
        </form>
        <ul class="navbar-nav ml-5 mr-5">
            <li class="nav-item mx-1 btn ">
                <a href="{% url 'photo:index' %}" class="nav-link " title="home">
                    <img src="/static/image/icon/icon-home.png" width="25" height="25">
                </a>
            </li>
            <li class="nav-item mx-1 btn ">
                <a href="{% url 'photo:create' %}" class="nav-link " title="photo upload">
                     <img src="/static/image/icon/033-image.png" width="25" height="25">
                </a>
            </li>
            <li class="nav-item mx-1 btn ">
                <a href="{% url 'index' %}" class="nav-link " title="message">
                     <img src="/static/image/icon/020-telegram.png" width="25" height="25">
                </a>
            </li>
            <li class="nav-item dropdown mx-1 btn ">
                {% if user.is_active %}
                    <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">
                        <i class="fas fa-user"></i>&ensp;
                        {% firstof user.get_short_name user.get_username %}&ensp;
                    </a>
                    <div class="dropdown-menu">
<!--                        <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>-->
                        <a class="dropdown-item" href="{% url 'people' user.username %}">
                            <img src="/static/image/icon/035-user.png" width="25" height="25">
                            profile</a>
                        <a class="dropdown-item" href="{% url 'profile_update' %}">
                            <img src="/static/image/icon/049-agenda.png" width="25" height="25">
                            settings</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                {% else %}
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i>&ensp;
                        Anonymous&ensp;
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'join' %}">Register</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c998a172fe.js"></script>
</body>
</html>