{% extends 'home/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <p class="card-text">{{ object.user }}</p>
        </div>
        <img src="{{ object.img.url|slice:'1:' }}" class="card-img-top" alt="...">

        <div class="card-body">
            <p class="card-text">{{ object.text }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">올린 날짜 : {{ object.created }}</li>
        </ul>
        <ul>
            <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
            <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
        </ul>
        <div class="col-md-12">
            {% csrf_token %}
            <div class="form-group row">
                <textarea class="form-control" id="text" rows="3" placeholder="댓글을 입력해주세요."></textarea>
            </div>
            <div class="text-right" style="float:right">
                <button id="create_comment" class="btn btn-sm">댓글달기</button>
                <input type="hidden" id="create_comment_user" value={{ request.user }}>
            </div>
        </div>
        <div id="comment_list"></div>

        {% for comment in photo.comments.all %}
            <p><span> {{ comment.user }} </span> : {{ comment.text }} </p>
        {% endfor %}

    </div>
{% endblock %}

{% block extra-script %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#create_comment').click(function () {
                var text = $("#text").val();
                var user = $("#create_comment_user").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'photo:create_comment' photo.id %}",
                    dataType: "json",
                    data: {
                        'user': user,
                        'text': text,
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                    },
                    success: function (response) {
                        // 여기 고치면 댓글 될거 같음
                        $("#comment_list").append("<p>"+response.text+"</p><br>")
                        $("#text").val(' ')
                    },
                    error: function () {
                        if ($('#text').val() == "") {
                            alert('댓글을 입력해주세요.');
                        }
                    },
                })
            });
        });
    </script>
{% endblock %}