{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>
    <br><br>

    {% if object_list %}
        {% for object in object_list %}

            <div class="card">
                <div class="card-header">
                    <a href="{% url 'people' object.user %}">
                        <p class="card-text">{{ object.user }}</p>
                    </a>
                </div>
                <img src="..{{ object.img.url }}" class="card-img-top" alt="...">

                <div class="card-body">
                    <p class="card-text">{{ object.text }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">올린 날짜 : {{ object.created }}</li>
                </ul>
            </div>
            <br><br><br>
        {% endfor %}
    {% elif search_term %}
        <b><i>Search Word ({{ search_term }}) Not Found</i></b>
    {% endif %}
{% endblock %}