{% extends 'home/base.html' %}
{% block content %}
<div id="content-wrapper">
	<div class="container-fluid">
		<div>
		    <h1 style="text-align:center;">My Profile</h1>
	    </div>
        {% if user.photo %}
        <div style="text-align:center;">
         <img src ="..{{ user.photo.url }}" alt="photo" width="200px" height="200px"
         onerror="this.onerror=null; this.src='Default.jpg'">
        </div>
        {% endif %}
        <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="photo"> photo :</label>
            <input type="file" class="form-control file_input_hidden"
                   id="photo" name="photo" value="{{ user.photo }}">
        </div>
        <div class="form-group">
            <label for="text">Bio :</label>
            <input type="text" class="form-control" id="text" name="text" value="{{ user.bio }}">
        </div>
        <div class="form-group">
        website : <input type="text" class="form-control" id="website" name="website" value="{{ user.website }}">
        </div>
        <div class="form-group">
        email : <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="form-group">
        phone number : <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ user.phone_number }}">
        </div>
        <div class="form-group">
            date of birth : {{ user.date_of_birth }}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▼</p>
            <input type="date" class="form-control" id="birth_date" name="birth_date" value="{{ user.date_of_birth }}">
        </div>
    <button type="submit", class="btn btn-success", value="save">정보 수정</button>
    <a href="{% url 'change_password' %}"><button type="button" class="btn btn-primary">비밀번호 변경</button></a>
    <a href="{% url 'delete' %}"><button type="button" class="btn btn-danger">계정 삭제</button></a>
</form></div>
</div>

{% endblock content %}